h1 {
  text-align: center;
  color: white;
}

button {
  border-radius: 25px;
  background: #8064e9;
  display: block;
  font-size: 16px;
  border-radius: 4px;
}

img {
  margin: 0 auto;
  width: 300px;
  padding: 25px;
  margin: 15px;
}
